In [1]:
import pandas as pd
import numpy as np

In [11]:
play_by_play = 'C:/Users/Enzo/OneDrive/Escritorio/Proyecto Final Henry/play_by_play_sql.csv'
df = pd.read_csv(play_by_play, low_memory=True)

In [12]:
df

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,player1_id,player2_id,player3_id
0,29600012,0,12,0,1,NaN,NaN,NaN
1,29600012,2,10,0,1,406.0,170.0,208.0
2,29600012,3,2,1,1,208.0,NaN,NaN
3,29600012,4,4,0,1,406.0,NaN,NaN
4,29600012,5,2,1,1,76.0,NaN,NaN
...,...,...,...,...,...,...,...,...
13592894,32200001,638,1,79,4,1627759.0,NaN,NaN
13592895,32200001,639,2,1,4,1628374.0,NaN,NaN
13592896,32200001,640,4,0,4,203081.0,NaN,NaN
13592897,32200001,641,1,79,4,203081.0,NaN,NaN
13592898,32200001,642,13,0,4,NaN,NaN,NaN

In [13]:
unicos = df['eventmsgtype'].unique()
unicos

array([12, 10,  2,  4,  6,  5,  1,  3,  8,  7,  9, 13, 11, 18])

In [14]:
df = df[df['eventmsgtype'] != 18]

In [16]:
df['player1_id'] = df['player1_id'].fillna(0).astype('Int64')
df['player2_id'] = df['player2_id'].fillna(0).astype('Int64')
df['player3_id'] = df['player3_id'].fillna(0).astype('Int64')

C:\Users\Enzo\AppData\Local\Temp\ipykernel_15740\1051439262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player1_id'] = df['player1_id'].fillna(0).astype('Int64')
C:\Users\Enzo\AppData\Local\Temp\ipykernel_15740\1051439262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player2_id'] = df['player2_id'].fillna(0).astype('Int64')
C:\Users\Enzo\AppData\Local\Temp\ipykernel_15740\1051439262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player3_id'] = df['player3_id'].fillna(0).astype('Int64')

In [17]:
df

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,player1_id,player2_id,player3_id
0,29600012,0,12,0,1,0,0,0
1,29600012,2,10,0,1,406,170,208
2,29600012,3,2,1,1,208,0,0
3,29600012,4,4,0,1,406,0,0
4,29600012,5,2,1,1,76,0,0
...,...,...,...,...,...,...,...,...
13592894,32200001,638,1,79,4,1627759,0,0
13592895,32200001,639,2,1,4,1628374,0,0
13592896,32200001,640,4,0,4,203081,0,0
13592897,32200001,641,1,79,4,203081,0,0
13592898,32200001,642,13,0,4,0,0,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13564706 entries, 0 to 13592898
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   game_id             int64
 1   eventnum            int64
 2   eventmsgtype        int64
 3   eventmsgactiontype  int64
 4   period              int64
 5   player1_id          Int64
 6   player2_id          Int64
 7   player3_id          Int64
dtypes: Int64(3), int64(5)
memory usage: 970.2 MB

In [19]:
repeticiones = df[['game_id', 'eventnum']].duplicated(keep=False)

# Filtrar las filas duplicadas
filas_duplicadas = df[repeticiones]

# Mostrar las filas duplicadas
print(filas_duplicadas)

           game_id  eventnum  eventmsgtype  eventmsgactiontype  period  \
3791038   30300001         0            12                   0       1
3791039   30300001         1            10                   0       1
3791040   30300001         2             2                   5       1
3791041   30300001         3             4                   0       1
3791042   30300001         4             1                   5       1
...            ...       ...           ...                 ...     ...
13592894  32200001       638             1                  79       4
13592895  32200001       639             2                   1       4
13592896  32200001       640             4                   0       4
13592897  32200001       641             1                  79       4
13592898  32200001       642            13                   0       4

          player1_id  player2_id  player3_id
3791038            0           0           0
3791039         2397         979         708
3791040         1495           0           0
3791041          708           0           0
3791042          708           0           0
...              ...         ...         ...
13592894     1627759           0           0
13592895     1628374           0           0
13592896      203081           0           0
13592897      203081           0           0
13592898           0           0           0

[14706 rows x 8 columns]

In [20]:
df = df.drop_duplicates(subset=['game_id', 'eventnum'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13557353 entries, 0 to 13592456
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   game_id             int64
 1   eventnum            int64
 2   eventmsgtype        int64
 3   eventmsgactiontype  int64
 4   period              int64
 5   player1_id          Int64
 6   player2_id          Int64
 7   player3_id          Int64
dtypes: Int64(3), int64(5)
memory usage: 969.7 MB

In [22]:
ruta_guardado = "pbp_listo.csv" 
df.to_csv(ruta_guardado, index=False)