In [31]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv("C:/Users/Enzo/OneDrive/Escritorio/Henry PF/csv/other_stats.csv")
df.head(5)

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

In [42]:
missingData = df.isnull().mean() * 100
print(missingData[missingData > 0].sort_values(ascending=False))

pts_off_to_home         7.509462
pts_off_to_away         7.509462
team_rebounds_away      7.067313
team_rebounds_home      7.067313
total_turnovers_away    1.117753
total_turnovers_home    1.117753
team_turnovers_home     0.007074
team_turnovers_away     0.007074
dtype: float64

In [43]:
valoresFaltantesColumnas = df.columns[df.isnull().any()]

# Imprimir las columnas con valores nulos
print("Columnas con valores nulos:\n", valoresFaltantesColumnas)

# Rellenar valores nulos con el promedio de la columna agrupado por equipo
for column in valoresFaltantesColumnas:
    df.loc[:, column] = df.groupby("game_id")[column].transform(lambda x: x.fillna(0))

# Mostrar la tabla resultante
print("Tabla después de la imputación de valores nulos:\n", df)

Columnas con valores nulos:
 Index(['team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home',
       'pts_off_to_home', 'team_turnovers_away', 'total_turnovers_away',
       'team_rebounds_away', 'pts_off_to_away'],
      dtype='object')
Tabla después de la imputación de valores nulos:
         game_id  league_id  team_id_home team_abbreviation_home  \
0      29600012          0    1610612756                    PHX
1      29600005          0    1610612737                    ATL
2      29600002          0    1610612739                    CLE
3      29600007          0    1610612754                    IND
4      29600013          0    1610612746                    LAC
...         ...        ...           ...                    ...
28266  42200402          0    1610612743                    DEN
28267  42200403          0    1610612748                    MIA
28268  42200404          0    1610612743                    DEN
28269  32200001          0    1610616834                    LBN
28270  32200001          0    1610616834                    LBN

      team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
0            Phoenix              44                   18            2
1            Atlanta              32                    9            6
2          Cleveland              36                   14            6
3            Indiana              34                   11            4
4        Los Angeles              40                   19            2
...              ...             ...                  ...          ...
28266         Denver              50                   15           18
28267          Miami              34                    7           11
28268         Denver              48                    6           12
28269           Team             118                   15           27
28270           Team             118                   15           27

       largest_lead_home  lead_changes  ...  team_abbreviation_away  \
0                      1             4  ...                     LAL
1                      0             0  ...                     MIA
2                     20             1  ...                     NJN
3                     10             7  ...                     DET
4                     12             5  ...                     GSW
...                  ...           ...  ...                     ...
28266                 15             4  ...                     MIA
28267                  5             7  ...                     DEN
28268                 17             3  ...                     MIA
28269                  4            24  ...                     GNS
28270                  4            24  ...                     GNS

       team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
0         Los Angeles              42                   10           13
1               Miami              32                   15           14
2          New Jersey              26                   16            4
3             Detroit              30                   14            7
4        Golden State              30                    9            2
...               ...             ...                  ...          ...
28266           Miami              34                   11            5
28267          Denver              60                   14           11
28268           Miami              46                    9           14
28269            Team              88                   14           33
28270            Team              88                   14           33

       largest_lead_away team_turnovers_away total_turnovers_away  \
0                     19                 0.0                 23.0
1                     16                 1.0                 19.0
2                      2                 1.0                 22.0
3                      9                 2.0                 19.0
4                      6                 0.0                 20.0
...                  ...                 ...                  ...
28266                 12                 0.0                 11.0
28267                 21                 1.0                 14.0
28268                  3                 1.0                 15.0
28269                 19                 0.0                 12.0
28270                 19                 0.0                 12.0

       team_rebounds_away  pts_off_to_away
0                    11.0              0.0
1                     6.0              0.0
2                    12.0              0.0
3                    10.0              0.0
4                     7.0              0.0
...                   ...              ...
28266                 4.0             23.0
28267                 7.0             17.0
28268                 9.0             17.0
28269                 3.0             20.0
28270                 3.0             20.0

[28271 rows x 26 columns]

In [44]:
print(df.isnull().sum())

game_id                   0
league_id                 0
team_id_home              0
team_abbreviation_home    0
team_city_home            0
pts_paint_home            0
pts_2nd_chance_home       0
pts_fb_home               0
largest_lead_home         0
lead_changes              0
times_tied                0
team_turnovers_home       0
total_turnovers_home      0
team_rebounds_home        0
pts_off_to_home           0
team_id_away              0
team_abbreviation_away    0
team_city_away            0
pts_paint_away            0
pts_2nd_chance_away       0
pts_fb_away               0
largest_lead_away         0
team_turnovers_away       0
total_turnovers_away      0
team_rebounds_away        0
pts_off_to_away           0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  int64
 1   league_id               28271 non-null  int64
 2   team_id_home            28271 non-null  int64
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28271 non-null  float64
 12  total_turnovers_home    28271 non-null  float64
 13  team_rebounds_home      28271 non-null  float64
 14  pts_off_to_home         28271 non-null  float64
 15  team_id_away            28271 non-null  int64
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28271 non-null  float64
 23  total_turnovers_away    28271 non-null  float64
 24  team_rebounds_away      28271 non-null  float64
 25  pts_off_to_away         28271 non-null  float64
dtypes: float64(8), int64(14), object(4)
memory usage: 5.6+ MB

In [46]:
df

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,...,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,0.0
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,...,MIA,Miami,32,15,14,16,1.0,19.0,6.0,0.0
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,...,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,0.0
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,...,DET,Detroit,30,14,7,9,2.0,19.0,10.0,0.0
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,...,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28266,42200402,0,1610612743,DEN,Denver,50,15,18,15,4,...,MIA,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,0,1610612748,MIA,Miami,34,7,11,5,7,...,DEN,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,0,1610612743,DEN,Denver,48,6,12,17,3,...,MIA,Miami,46,9,14,3,1.0,15.0,9.0,17.0
28269,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0
28270,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0

In [47]:
df = df.drop(columns=['team_abbreviation_home', 'league_id', 'team_abbreviation_away'])

In [50]:
df

,game_id,team_id_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,...,team_id_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,1610612756,Phoenix,44,18,2,1,4,1,0.0,...,1610612747,Los Angeles,42,10,13,19,0.0,23.0,11.0,0.0
1,29600005,1610612737,Atlanta,32,9,6,0,0,0,1.0,...,1610612748,Miami,32,15,14,16,1.0,19.0,6.0,0.0
2,29600002,1610612739,Cleveland,36,14,6,20,1,1,0.0,...,1610612751,New Jersey,26,16,4,2,1.0,22.0,12.0,0.0
3,29600007,1610612754,Indiana,34,11,4,10,7,4,0.0,...,1610612765,Detroit,30,14,7,9,2.0,19.0,10.0,0.0
4,29600013,1610612746,Los Angeles,40,19,2,12,5,4,0.0,...,1610612744,Golden State,30,9,2,6,0.0,20.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28266,42200402,1610612743,Denver,50,15,18,15,4,3,1.0,...,1610612748,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,1610612748,Miami,34,7,11,5,7,7,0.0,...,1610612743,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,1610612743,Denver,48,6,12,17,3,6,2.0,...,1610612748,Miami,46,9,14,3,1.0,15.0,9.0,17.0
28269,32200001,1610616834,Team,118,15,27,4,24,14,0.0,...,1610616833,Team,88,14,33,19,0.0,12.0,3.0,20.0
28270,32200001,1610616834,Team,118,15,27,4,24,14,0.0,...,1610616833,Team,88,14,33,19,0.0,12.0,3.0,20.0

In [48]:
repeticiones = df[['game_id','team_id_home', 'pts_paint_home', 'pts_fb_home']].duplicated(keep=False)

df_sin_repetidos = df[~repeticiones]
df_sin_repetidos.shape

(28251, 23)

In [51]:
df_sin_repetidos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28251 entries, 0 to 28268
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   game_id               28251 non-null  int64
 1   team_id_home          28251 non-null  int64
 2   team_city_home        28251 non-null  object
 3   pts_paint_home        28251 non-null  int64
 4   pts_2nd_chance_home   28251 non-null  int64
 5   pts_fb_home           28251 non-null  int64
 6   largest_lead_home     28251 non-null  int64
 7   lead_changes          28251 non-null  int64
 8   times_tied            28251 non-null  int64
 9   team_turnovers_home   28251 non-null  float64
 10  total_turnovers_home  28251 non-null  float64
 11  team_rebounds_home    28251 non-null  float64
 12  pts_off_to_home       28251 non-null  float64
 13  team_id_away          28251 non-null  int64
 14  team_city_away        28251 non-null  object
 15  pts_paint_away        28251 non-null  int64
 16  pts_2nd_chance_away   28251 non-null  int64
 17  pts_fb_away           28251 non-null  int64
 18  largest_lead_away     28251 non-null  int64
 19  team_turnovers_away   28251 non-null  float64
 20  total_turnovers_away  28251 non-null  float64
 21  team_rebounds_away    28251 non-null  float64
 22  pts_off_to_away       28251 non-null  float64
dtypes: float64(8), int64(13), object(2)
memory usage: 5.2+ MB

In [49]:
ruta_guardado = "other_stats_listo.csv" 
df_sin_repetidos.to_csv(ruta_guardado, index=False)